<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular practica</title>
	<script src="angular-1.2.21/angular.js"></script>
</head>
<body ng-app>
	{{"hola" + "mundo"}}


<form action="">
	<label for="">nombre</label>
	<input type="text">
	<button>guardar</button>
</form>



<div class="container">
Entiendes el contenido de este libro?
<input type="checkbox" ng-model="respuesta">
<div ng-hide="respuesta">
<h2>Me esforzare más!</h2>
</div>
<div ng-show="respuesta">
<h2>Felicidades!</h2>

</div>
</div>
	<script>
		function miCtrl($scope){
			$scope.mensaje = "hola desde javascript...";
		}



		function padreCtrl($scope){
			$scope.padre = "yo soy el padre.";
			$scope.logPadre = function(){
				console.log($scope.padre);
			}
		}
		function hijoCtrl($scope){
			$scope.hijo = "soy el primer hijo";
			$scope.edad = 36;
			$scope.logHijo = function(){
				console.log($scope.hijo, $scope.edad);
			}
		}
		function nietoCtrl($scope){
			$scope.nieto = "soy el nieto";
			$scope.edad = 4;
			$scope.logNieto = function(){
				console.log($scope.nieto, $scope.edad,$scope.hijo);
			}

		}

		function realtime($scope){
			$scope.actualizando = '';
		}





	</script>

<div class="container" ng-controller="miCtrl">
	<h1 ng-bind="mensaje"></h1>
</div>

<p>----------------OTRO EJEMPLO-------------------</p>

<div ng-controller="padreCtrl">
<button ng-click="logPadre()">Padre</button>
<div ng-controller="hijoCtrl">
<button ng-click="logHijo()">Hijo</button>
<div ng-controller="nietoCtrl">
<button ng-click="logNieto()">Nieto</button>
</div>
</div>
</div>

<p>--------------ACTUALIZADO EN TIEMPO REAL XD :V--------------</p>
<div ng-controller="realtime">
<p ng-bind="actualizando"></p>
<input type="text" ng-model="actualizando">
</div>


</body>
</html>